.emma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid green;
    border-radius: 10px;
    margin: 20px 0;
}

.emma img {
    width: 100px;
}

.emmaone {
    display: flex;
    gap: 10px;
}
h3 {
    font-size: 18px
}

.emma img, h3, p, Button {
    margin: 30px 0;
}

.button {
    background-color: white;
    color: black;
    margin: auto;
}

.button:hover,
.button:focus {
    background-color: #c2f5cc;
    border: 1px solid #c2f5cc;
}

@media (max-width: 767px) {
    .emma {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid green;
        border-radius: 10px;
        margin: 20px 0;
    }
    .emma img {
        width: 250px;
        margin-top: 0px;
    }
    .emma h3 {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -60px;
        text-align: center;
    }

}