.footer {
    margin: 50px 55px 0 55px;
    background-color: #c2f5cc;
}

.footer-form  {
    width: 65%;
    margin: 10px 200px;
    padding: 40px 0 30px 0;
}

.footer-form h3 {
    text-align: center;
}

.subscription-main-form-footer input {
    margin: 10px 3px;
}

.input_name {
    border: 2px solid green;
    width: 35%;
    padding: 5px 20px;
    margin-right: 2px;
    border-radius: 10px;
}

.input_email {
    border: 2px solid green;
    width: 60%;
    padding: 5px 20px;
    border-radius: 10px;
}

.submit-btn-footer {
    margin-left: 280px;
    width: 30%;
    padding: 5px 0;
    background-color: transparent;
    border-radius: 10px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 5px 25px;
}

.footer-nav li {
    list-style: none;
    margin: 10px 0;
}

.footer-nav li:hover,
.footer-nav li:focus {
    font-style: oblique;
}

.footer-nav a {
    text-decoration: none;
    color: black;
}

.nav-icons a:hover,
.nav-icons a:focus {
    color: grey;
}

.copyright {
    border-top: 3px solid white;
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
}

.copyright p {
    text-align: center;
}