.homepage {
    margin: 20px 40px;
    box-sizing: border-box;
    background-color: white /*I will change this later */
}

.button {
    padding: 5px 15px;
    border: 1px solid green;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

.button:hover,
.button:focus {
    transform: scale(0.90);
}

.aboutus {
    display: flex;
    gap: 50px;
}

.aboutus-desp p {
    text-align: justify;
}

.product-image-swiper img {
    width: 450px;
}

.product-image-swiper-container {
    width: 50%;
}

.product-image-swiper {
    width: 450px;
    margin-top: -35px;
}

.ceo-writeup {
    display: flex;
    background-color: #e9b2b7;
    margin: 50px 0;
}

.ceoimage-desp {
    margin-top: 20px;
}

.ceoimage-desp img {
    width: 400px;
}

.inspirdesp img {
    width: 80px;
}


.inspirdesp {
    display: flex;
    align-items: center;
    background-color: white;
    width: 700px;
    margin-top: -100px;
    margin-left: 500px;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: -1px 0px 10px 9px rgba(0,0,0,0.25);
    -webkit-box-shadow: -1px 0px 10px 9px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 0px 10px 9px rgba(0,0,0,0.25);;
}

.inspirdesp .special {
    border-right: 1px solid green;
    padding: 0 5px;
}
.inspiredpara {
    border-right: 1px solid green;
    padding-right: 15px;
}


.inspiredimg {
    padding-left: 5px;
}


.bestseller {
    margin: 40px 60px 20px 60px;
}

.bestseller-write{
    display: flex;
    gap: 40px;
    margin-top: 100px;
}

.bestseller-write-up{
    text-align: justify;
    margin-top: 10px;
}

.best-seller-pro img {
    width: 400px;
}

.subscription-form {
    border: 2px solid #c2f5cc;
    padding:  0 15px;
    border-radius: 10px;
    width: 65%;
    margin-top: -150px;
    margin-bottom: 100px;
}

.subscription-main-form {
    margin-top: 10px;
}

.subscription-main-form input {
    border: 2px solid green;
    margin-right: 10px;
    padding: 5px 10px;
    width: 48%;
    border-radius: 10px;
}

.submit-btn {
    padding: 5px 15px;
    border: 1px solid green;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}


.swipercontainer {
    margin: 20px 40px;
}

.slide {
    margin: 10px 0 30px 0;
    padding: 10px;
    border: 2px solid #c2f5cc;
    border-radius: 5px;
}

.testimonial-header {
    margin-bottom: 0;
}

.testimonial-desp {
    text-align: justify;
}

.quoteleft {
    margin-right: 10px;
    font-size: 15px;
}

.quoteright {
    margin-left: 10px;
    font-size: 15px;
}

.review-name {
    margin-top: 20px;
    font-weight: 700;
    font-size: medium;
}

@media (max-width: 767px) {
    p {
        font-size: 16px;
        line-height: 1.6;
    }
    .homepage{
        margin: 0px 20px 0 20px;
    }
    .aboutus {
        display: flex;
        flex-direction: column;
    }
    .product-image-swiper img {
        width: 350px;
    }
    .product-image-swiper{
        width: 350px;
    }
    .ceo-writeup {
        margin: 0px 20px 0 20px;
        border-radius: 10px;
    }
    .ceoimage-desp img {
        max-width: 100%;
    }
    .inspirdesp {
        margin: auto;
        width: 100%;
    }
    .inspiredpara {
        border-right: 1px solid green;
    }
    .inspiredimg{
        margin-left: 5px;
    }
    .inspiredpara{
        padding-right: 10px;
    }
    .inspirdesp img {
        width: 10%;
        padding: 0;
    }
    .inspirdesp p {
        font-size: small;
    }
    .bestseller {
        margin: 0px 20px 0 20px;
    }
    .bestseller-write {
        display: flex;
        flex-direction: column;
    }
    .best-seller-pro img {
        max-width: 100%;
    }
    .subscription-form{
        margin-top: 50px;
        width: auto;
    }
    .subscription-main-form input {
        width: 100%;
        padding: 10px;
    }
    .subscription-main-form .input_name {
        margin-bottom: 10px;
    }
    .swipercontainer {
        margin: 0px 20px 0 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 834px){
    .product-image-swiper img {
        width: 300px;
        margin-top: 30px;
    }
    .product-image-swiper{
        width: 300px;
    }
    .ceo-writeup{
        border-radius: 10px;
    }
    .inspirdesp {
        margin: -40px 40px 0 40px;
        width: auto;
    }
    .best-seller-pro img {
        width: 300px;
    }
    .subscription-form {
        margin-top: 30px;
        width: 100%;
    }
}
@media only screen and (min-width: 834px) and (max-width: 1194px){
    .ceo-writeup{
        border-radius: 10px;
    }
    .inspirdesp {
        margin: -40px 40px 0 40px;
        width: auto;
    }
    .inspirdesp img {
        width: auto;
    }
    .inspirdesp p {
        font-size: larger;
    }
    .best-seller-pro img {
        width: 300px;
    }
    .subscription-form {
        margin-top: 40px;
        width: 100%;
    }
}