.button:hover,
.button:focus {
    background-color: #c2f5cc;
    border: 1px solid #c2f5cc;
    color: black;
}

.col {
    display: flex;
    justify-content: space-evenly;
}

.form {
    margin: auto;
}

.button:active {
    outline: #c2f5cc;
}



