.button:hover,
.button:focus {
    background-color: #c2f5cc;
    border: 1px solid #c2f5cc;
    color: black;
}

.col {
    display: flex;
    justify-content: space-evenly;
}



.button {
    color: black;
    margin: 0 10px;
}


